micronaut:
  application:
    name: microsample
    publicUploadPath: "/var/www/microsample/public"
    privateUploadPath: "/var/www/microsample/private"
  security:
    enabled: false
    reject-not-found: false
    token:
      jwt:
        signatures:
          secret:
            generator:
              secret: ${JWT_SECRET}
        jwt:
          expiresIn: 10m
  executors:
    cpu:
      type: fixed
      n-threads: 4

  server:
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins: "http://localhost:3000"
    dispatch-options-requests: true
    netty:
      use-native-transport: true
      user-forwarded-headers: true
      listeners:
        http2Listener:
          port: ${MICROSAMPLE_PORT}
      event-loops:
        default:
          prefer-native-transport: true
          transport: io_uring
      default-bootstrap:
      event-loop-shutdown-quiet-period: 0ms
      event-loop-shutdown-timeout: 0ms
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /api-docs/**
      swagger-ui-default:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
  jimmer:
    datasources:
      default:
        show-sql: true
        show-parameters: true
        default-enum-strategy: name
        executor: blocking
        default-schema: sample
    language: java
# ==========================
# Database Configuration
# ==========================
datasources:
  default:
    url: jdbc:${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driverClassName: org.postgresql.Driver
    dialect: POSTGRES

    hikari:
      maximum-pool-size: 30
      minimum-idle: 5
      auto-commit: true

nats:
  default:
    addresses:
      - "nats://localhost:4222"

redis:
  uri: "redis://localhost"

# ==========================
# Flyway Migration Settings
# ==========================

flyway:
  datasources:
    default:
      enabled: true
      validate-on-migrate: true
      baseline-on-migrate: true
      baseline-description: "Initial migration"
      out-of-order: false
      locations: classpath:db/migration
      schemas: sample

# ==========================
# Logging
# ==========================
logger:
  levels:
    ROOT: INFO
    io.micronaut: INFO
    io.netty: WARN
    io.micronaut.http.server.netty: INFO
    io.micronaut.context: WARN

    org.flywaydb: INFO
    io.micronaut.flyway: INFO

    org.babyfish.jimmer.sql: WARN