micronaut:
  application:
    name: microsample
    publicUploadPath: "/var/www/microsample/public"
    privateUploadPath: "/var/www/microsample/private"

  server:
    cors:
      enabled: true
      configurations:
        web:
          allowedOrigins: "http://localhost:3000"
    netty:
      use-native-transport: true
      user-forwarded-headers: true
      listeners:
        http2Listener:
          port: ${MICROSAMPLE_PORT}
      event-loops:
        default:
          prefer-native-transport: true
          transport: io_uring
#      default-bootstrap:
#        event-loop-shutdown-quiet-period: 0ms
#        event-loop-shutdown-timeout: 0ms
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /api-docs/**
      swagger-ui-default:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**

# ==========================
# Database Configuration
# ==========================
r2dbc:
  datasources:
    default:
      url: r2dbc:${DATASOURCE_URL}
      username: ${DATASOURCE_USERNAME}
      password: ${DATASOURCE_PASSWORD}
      dialect: POSTGRES
      options:
        maxSize: 5
        schema: sample

jimmer:
  show-sql: true

nats:
  default:
    addresses:
      - "nats://localhost:4222"

redis:
  uri: "redis://localhost"

# ==========================
# Flyway Migration Settings
# ==========================
datasources:
  default:
    url: jdbc:${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driverClassName: org.postgresql.Driver

flyway:
  datasources:
    default:
      enabled: true

#      url: jdbc:${DATASOURCE_URL}
#      username: ${DATASOURCE_USERNAME}
#      password: ${DATASOURCE_PASSWORD}

      validate-on-migrate: true
      baseline-on-migrate: true
      baseline-description: "Initial migration"
      out-of-order: false
      locations: classpath:db/migration
      schemas: sample

# ==========================
# Logging
# ==========================
logger:
  levels:
    ROOT: INFO
    io.micronaut: INFO
    io.netty: WARN
    io.micronaut.http.server.netty: INFO
    io.micronaut.context: WARN

    org.flywaydb: INFO
    io.micronaut.flyway: INFO

    org.babyfish.jimmer.sql: WARN